@tailwind base;
@tailwind components;
@tailwind utilities;

.ql-toolbar.ql-snow {
  background-color: rgb(17 24 39) !important;
}
.ql-container.ql-snow {
  background-color: rgb(55 65 81) !important;
}

@layer components {
  .btn-dark {
    @apply bg-palette1 px-4 py-3 capitalize font-medium cursor-pointer;
  }
  .form-control {
    @apply w-full bg-palette2 p-3 rounded outline-none text-gray-400 focus:ring-[3px] ring-palette4 transition-all duration-300 placeholder:capitalize;
  }
  .btn-indigo {
    @apply bg-indigo-600 w-1/4 p-3 cursor-pointer text-white rounded-lg;
  }
  .alert-danger {
    @apply bg-red-100 text-red-700 px-3 py-4 mb-2 border-l-8 border-red-700 rounded-sm text-sm font-medium;
  }
  .alert-success {
    @apply bg-green-200 text-slate-800 px-3 py-4 mb-5 border-l-8 border-green-800 rounded-sm text-sm font-medium;
  }
  .pagination-link {
    @apply border border-gray-900 text-gray-500 text-sm font-medium block py-2 px-4 bg-gray-900;
  }
  .pagination-active {
    @apply bg-gray-400 text-gray-900;
  }
  .size {
    @apply border border-gray-400 text-gray-400 ml-2 px-3 py-1.5 mt-2 uppercase cursor-pointer rounded text-sm;
  }
  .right-heading {
    @apply mb-2 capitalize text-gray-400 text-base;
  }
  .input-file {
    @apply block file:cursor-pointer file:py-2 file:px-4 file:rounded file:bg-palette1 file:text-white mt-2 file:text-sm file:font-medium file:mr-3;
  }
  .input-label {
    @apply text-gray-400 mb-2 block;
  }
  .container {
    @apply max-w-screen-xl w-full mx-auto px-6;
  }
  .nav__item {
    @apply ml-8;
  }
  .nav__link {
    @apply text-base font-medium;
  }
  .nav__circle {
    @apply flex justify-center items-center w-[22px] h-[22px] rounded-full bg-indigo-600 text-xs text-white font-medium absolute -top-1 -right-3;
  }
  .header {
    @apply w-full h-[330px] bg-[url('./assets/images/banner.png')] bg-no-repeat bg-cover bg-center relative -z-10;
  }
  .header-cover {
    @apply absolute inset-0 w-full h-full ;
  }
  .flex-y {
    @apply flex items-center;
  }
  .header-heading {
    @apply text-white text-2xl capitalize font-medium;
  }
  .heading {
    @apply text-lg capitalize font-medium;
  }
  .form-label {
    @apply block mb-1.5 text-sm font-medium capitalize text-gray-700;
  }
  .form-input {
    @apply w-full border px-3 py-3 border-gray-300 rounded-md outline-none;
  }
  .error {
    @apply block mt-1.5 text-rose-600 font-medium text-sm;
  }
  .account-list {
    @apply flex items-center px-3 py-3.5 rounded-md;
  }
  .account-list__title {
    @apply block ml-3 font-medium text-sm text-gray-700 capitalize;
  }
  a.account-list.active {
    @apply bg-gray-50;
  }

  /* SWİPER SLİDER */

  .swiper {
    width: 100%;
    height: 70vh;
  }
  
  .swiper-slide {
    text-align: center;
    font-size: 18px;
    background: #fff;
  
    /* Center slide text vertically */
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .swiper-slide:first-child {
    @apply relative;
  }
  
  .swiper-slide img {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
  

}
